/* Fonts */
/* Colors */
/* Dimension */
/* Margin and Padding */
.gradient-button, div.action .gray, div.complete ul.actions li, div.complete div.more_actions > a, div.complete a#linkRetrySubmit, div.complete a#linkSaveToLocal, .park-action .retrieve {
  cursor: pointer;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); }

.hgroup-box, section.cashier hgroup input, .outlet span {
  background-color: white;
  border: 1px solid #B7B7B7;
  margin: 0;
  padding: 4px 8px 3px 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  line-height: 23px;
  height: 31px;
  text-indent: 1px;
  font-size: 14px;
  display: inline-block; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

.input-group {
  width: 100px; }

.input-group input {
  border: 1px solid #E3E3E3;
  border-left: 0px;
  height: 35px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

section.cashier {
  min-width: 1005px; }
  section.cashier > main {
    padding: 10px 0 0 0;
    clear: both; }
    section.cashier > main section.quickKeys {
      width: 376px;
      float: left;
      position: relative; }
    section.cashier > main section.cart {
      margin: 0 0 0 15px;
      width: 600px;
      float: left; }
      section.cashier > main section.cart div.head {
        height: 53px;
        margin-bottom: 5px;
        border: solid 1px #CFCFCF;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        background: #F2F7FA; }
        section.cashier > main section.cart div.head h2 {
          margin: 9px 0 0 15px;
          color: #222222;
          float: left;
          display: block;
          font-size: 14px;
          font-weight: bold; }
          section.cashier > main section.cart div.head h2 i {
            color: #89b03e !important;
            font-size: 24px;
            width: 28px; }
          section.cashier > main section.cart div.head h2 > span:last-child {
            font-size: 12px;
            padding-left: 3px; }
        section.cashier > main section.cart div.head ul {
          float: right;
          margin: 0;
          padding: 0;
          list-style: none; }
          section.cashier > main section.cart div.head ul li.barcode {
            float: left;
            margin: 0 10px 0 0; }
            section.cashier > main section.cart div.head ul li.barcode .input-group {
              width: 300px;
              margin-top: 12px; }
            section.cashier > main section.cart div.head ul li.barcode input {
              width: 300px;
              height: 28px;
              border: solid 1px #DDDDDD;
              font-size: 12px;
              font-family: Arial;
              color: #888888;
              float: left;
              border-left: 0px; }
          section.cashier > main section.cart div.head ul li.upload {
            float: left; }
          section.cashier > main section.cart div.head ul li.add {
            float: left; }
          section.cashier > main section.cart div.head ul li.add a, section.cashier > main section.cart div.head ul li.upload a {
            padding: 5px;
            height: 51px;
            display: block;
            width: 56px;
            cursor: pointer;
            color: #ffffff;
            border: 0px;
            border-left: 1px solid #DDDDDD;
            -webkit-box-shadow: -1px 0px 0px 0px white;
            box-shadow: -1px 0px 0px 0px white; }
          section.cashier > main section.cart div.head ul li.add a i, section.cashier > main section.cart div.head ul li.upload a i {
            margin: 8px;
            color: #89b03e;
            font-size: 30px; }
          section.cashier > main section.cart div.head ul li.add a i {
            font-size: 34px; }
      section.cashier > main section.cart div.content {
        background-color: white;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        box-shadow: 0 0 5px 0px #d6d6d6;
        height: 408px;
        position: relative;
        padding: 6px; }
      section.cashier > main section.cart table.cart {
        width: 100%;
        border-collapse: collapse; }
        section.cashier > main section.cart table.cart thead i {
          color: #666;
          font-size: 8px; }
        section.cashier > main section.cart table.cart th {
          padding: 7px 5px !important;
          font-weight: bold;
          background: #FBFBF7;
          border-top: 1px solid #CFCFCF;
          border-bottom: 1px solid #CFCFCF;
          /*! text-transform: uppercase; */
          font-family: 'Roboto Slab', serif; }
          section.cashier > main section.cart table.cart th:first-child {
            border-left: 1px solid #CFCFCF; }
          section.cashier > main section.cart table.cart th:last-child {
            border-right: 1px solid #CFCFCF; }
          section.cashier > main section.cart table.cart th:nth-child(1) {
            width: 16px; }
        section.cashier > main section.cart table.cart td {
          padding: 10px 5px;
          border-bottom: 1px solid #BBBBBB;
          vertical-align: middle; }
          section.cashier > main section.cart table.cart td:nth-child(1) img {
            cursor: pointer; }
          section.cashier > main section.cart table.cart td:nth-child(3) {
            width: 60px;
            cursor: pointer; }
        section.cashier > main section.cart table.cart th:nth-child(4), section.cashier > main section.cart table.cart td:nth-child(4) {
          width: 40px;
          text-align: right; }
        section.cashier > main section.cart table.cart th:nth-child(5), section.cashier > main section.cart table.cart td:nth-child(5) {
          width: 75px;
          text-align: right; }
        section.cashier > main section.cart table.cart td.disc {
          color: Red;
          font-size: 12px;
          text-align: right; }
        section.cashier > main section.cart table.cart th.disc {
          width: 25px;
          text-align: right; }
        section.cashier > main section.cart table.cart th:nth-child(7), section.cashier > main section.cart table.cart td:nth-child(7) {
          width: 86px;
          text-align: right; }
        section.cashier > main section.cart table.cart p {
          margin: 0;
          padding: 0;
          color: #2B4E75;
          font-style: italic; }
      section.cashier > main section.cart > div.manufacture {
        height: 400px !important; }
      section.cashier > main section.cart div.table {
        height: 230px;
        overflow: auto;
        width: 100%; }
      section.cashier > main section.cart div.delivery {
        height: 345px !important; }
      section.cashier > main section.cart table.manufacture td:nth-child(6) {
        color: #333; }
    section.cashier > main section.left {
      float: left !important;
      margin-left: 0px !important;
      width: 375px !important; }
    section.cashier > main section.right {
      float: left !important;
      width: 600px !important; }
  section.cashier .btn-add {
    vertical-align: middle; }
  section.cashier hgroup {
    border-bottom: solid 1px #DDE2EB;
    height: 47px; }
    section.cashier hgroup section {
      float: left;
      margin: 0 7px 0 0;
      padding: 3px 15px 3px 0; }
      section.cashier hgroup section:last-of-type {
        padding-right: 0;
        margin-right: 0;
        border-right: none; }
    section.cashier hgroup input.datepicker {
      width: 110px !important; }
    section.cashier hgroup .date .txtNumber {
      width: 150px; }
  section.cashier .input-grp {
    display: inline-block;
    vertical-align: middle; }
    section.cashier .input-grp > span, section.cashier .input-grp > input {
      float: left; }
    section.cashier .input-grp > span {
      height: 31px;
      background-color: white; }

.outlet a {
  display: inline-block;
  cursor: pointer; }
  .outlet a.disabled span {
    background-color: #eee; }

.outlet span {
  width: 165px; }

.customer input {
  min-width: 165px !important; }

.sales select {
  min-width: 180px !important; }

.job input {
  min-width: 420px !important; }

.iconed i {
  color: #3B3B3B;
  font-size: 20px;
  margin-right: 2px;
  vertical-align: middle; }
  .iconed i.fa-hashtag {
    margin-left: 3px; }

.action-iconed i {
  font-size: 16px;
  vertical-align: middle; }

section.big-cart div.table {
  height: auto; }

section.scan-cart div.table {
  height: 320px; }

div.action {
  margin: 10px 0 0 0;
  padding: 0; }

.bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 85px;
  border-top: 1px solid #ddd; }
  .bottom > div {
    padding: 22px 0 0 12px;
    display: block;
    float: left;
    width: 356px; }
    .bottom > div > div {
      display: inline-block; }

.calc-tbl {
  float: right;
  border-collapse: collapse;
  margin-right: -2px; }
  .calc-tbl th {
    padding: 7px 15px 7px 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #EEEEEE;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif; }
  .calc-tbl td {
    width: 100px;
    text-align: right;
    padding: 7px 5px;
    border-bottom: 1px solid #ddd; }

div.action a {
  padding: 15px 12px 15px 12px;
  height: 56px; }
  div.action a[disabled] i {
    background-position-x: -23px; }

div.action .gray {
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 0 white;
  -webkit-box-shadow: inset 0 2px 0 -1px white;
  -moz-box-shadow: inset 0 2px 0 -1px white;
  box-shadow: inset 0 2px 0 -1px white;
  border-radius: 2px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: #f4f4f4;
  border: 1px solid #B7B7B7;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #545454;
  width: auto;
  float: left;
  margin: 0 10px 0 0;
  width: 121px; }
  div.action .gray[disabled] {
    color: #aaa; }

.pay {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff !important;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #89b03e;
  border: 1px solid #6b8a30;
  width: 206px;
  position: relative;
  text-align: left;
  float: right; }
  .pay > span, .pay > strong {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    text-shadow: 0px 1px 0px Gray;
    display: inline-block;
    line-height: 20px; }
  .pay strong {
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold; }
    .pay strong.center {
      display: block;
      text-align: center; }
  .pay > span {
    font-size: 16px;
    position: absolute;
    right: 20px; }
  .pay small {
    position: absolute;
    right: 4px;
    bottom: 2px;
    font-size: 10px;
    font-style: italic;
    line-height: 12px; }

.inline-box {
  margin-right: 15px;
  float: left; }

.item-textarea {
  height: 120px; }

.dialog-table td {
  padding: 3px 0; }

.cash-btn {
  cursor: pointer;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #f4f4f4;
  border: 1px solid #B7B7B7;
  font-weight: bold;
  color: #545454;
  margin: 0 0 0 10px;
  padding: 7px 15px;
  height: 18px;
  box-sizing: content-box;
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); }

.cash-tab {
  border-bottom: solid 1px #DDDDDD; }
  .cash-tab > li {
    margin: 0 10px 0 0;
    padding: 0 10px;
    float: left;
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto Slab';
    color: #868686;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid white; }
    .cash-tab > li.selected {
      color: #464646;
      border-bottom: 4px solid #07A519; }

.cash-choice {
  position: relative; }
  .cash-choice label {
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: normal; }
  .cash-choice input[type=radio] {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0; }
  .cash-choice input[type=radio]:checked + label {
    background: #dfeffc;
    border: 1px solid #c5dbec; }

.input-label {
  position: relative;
  padding: 4px 0; }
  .input-label span {
    position: absolute;
    font-size: 14px;
    color: #868686;
    top: 26px;
    left: 10px; }
  .input-label input {
    margin: 0;
    margin-bottom: 8px;
    border: 1px solid #C8D3DF;
    padding: 7px 5px;
    width: 488px;
    font-size: 36px;
    border-radius: 3px;
    text-align: right;
    background-color: white;
    outline: none; }

.dialog-pay {
  width: 500px; }
  .dialog-pay > ul {
    margin: 0 0 10px 0;
    list-style: none;
    float: left;
    display: block;
    width: 100%;
    padding: 0; }
  .dialog-pay > div:nth-child(2) {
    width: 500px; }

.delivery {
  width: 100%;
  padding: 10px 0 !important;
  border-top: 1px solid #ddd;
  margin-bottom: 0 !important; }
  .delivery > li {
    margin: 0 10px 0 0;
    padding: 10px 0 0 0;
    float: left;
    display: block; }
  .delivery input,
  .delivery label {
    cursor: pointer; }

.due {
  display: inline-block; }
  .due > div {
    margin-right: 10px;
    float: left;
    padding: 4px 0; }
  .due strong {
    margin-right: 10px; }
  .due input {
    border: 1px solid #C8D3DF;
    padding: 7px 5px;
    margin: 0; }

.pay-info input {
  border: 1px solid #C8D3DF;
  padding: 7px 5px;
  margin: 0;
  width: 60%;
  float: left;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #07A519 !important;
  font-family: Arial;
  font-size: 14px;
  outline: none; }
  .pay-info input:nth-child(2) {
    width: 35%;
    float: right; }

section.complete {
  padding: 20px 0 0 10px; }
  section.complete h2 i {
    color: #3b5998; }

h2.section-title, .complete h2 {
  margin: 0;
  padding: 0;
  text-align: left !important; }
  h2.section-title > span, .complete h2 > span {
    color: #3b5998;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif; }
  h2.section-title > a, .complete h2 > a {
    margin: 0 0 0 5px;
    padding: 0;
    color: #868686;
    display: inline-block;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    font-size: 12px; }

div.complete ul.actions {
  list-style: none;
  margin: 20px 0 0 0;
  height: 160px;
  padding-left: 0; }
  div.complete ul.actions li {
    width: 190px;
    height: 150px;
    cursor: pointer;
    border: 1px solid #D6D6D6;
    margin: 0 10px 0 0;
    position: relative;
    text-align: center;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left; }
    div.complete ul.actions li:first-child a strong {
      color: #3B444E; }
    div.complete ul.actions li:first-child a span {
      background: #89b03e !important;
      border-color: #6b8a30 !important; }
    div.complete ul.actions li a {
      padding-top: 8px;
      height: 142px;
      display: block; }
      div.complete ul.actions li a i {
        color: #666666;
        font-size: 50px;
        width: 58px;
        height: 40px;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: calc(50% - 29px); }
      div.complete ul.actions li a strong {
        display: block;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 16px;
        width: 100%;
        top: 75px;
        color: #666666;
        text-transform: uppercase; }
      div.complete ul.actions li a p {
        display: block;
        font-family: Arial;
        font-size: 11px;
        line-height: 14px;
        font-style: italic;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 95px;
        padding: 10px;
        box-sizing: border-box;
        color: #868686;
        border-top: 1px solid #ddd;
        position: absolute;
        top: 112px;
        bottom: 0; }
    div.complete ul.actions li.new i {
      background-position: 0px -340px; }
    div.complete ul.actions li.print i {
      background-position: 0px -228px; }
    div.complete ul.actions li.email i {
      background-position: 0px -281px; }
    div.complete ul.actions li.undo i {
      background-position: 0px -400px; }
    div.complete ul.actions li.invoice i {
      background-position: 0px -530px; }
    div.complete ul.actions li.waiting i {
      background-position: 0px -590px; }
    div.complete ul.actions li.qr i {
      background-position: 0px -650px; }
    div.complete ul.actions li.commission i {
      background-position: 0px -710px; }
    div.complete ul.actions li:first-child a p {
      color: #ffffff;
      background: #89b03e !important;
      border-color: #6b8a30 !important; }

div.complete div.more_actions {
  margin: 10px 0 0 0;
  position: relative; }
  div.complete div.more_actions > a {
    border: solid 1px #D6D6D6;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left; }
  div.complete div.more_actions ul {
    position: absolute;
    top: 0;
    left: 53px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 1px #d3d3d3;
    min-width: 250px;
    border-right: 3px solid #34648B;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white; }
    div.complete div.more_actions ul li {
      margin: 0;
      padding: 0; }
      div.complete div.more_actions ul li a {
        margin: 0;
        padding: 8px 15px 8px 15px;
        display: block;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        color: black; }
      div.complete div.more_actions ul li:last-child a {
        border-bottom: none; }
      div.complete div.more_actions ul li:hover a {
        text-decoration: none;
        background-color: #DEEBF3; }

div.complete a#linkRetrySubmit, div.complete a#linkSaveToLocal {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #B7B7B7;
  font-family: 'Roboto Slab', serif;
  color: #545454;
  float: right;
  margin: 0 10px 0 0; }

/*dialog*/
#dialogQueryMode input[type=radio] {
  margin: 0px 4px 0px 3px; }

#dialogQueryMode small {
  display: block;
  padding-left: 25px;
  padding-top: 5px;
  font-size: 91%; }

.modal-body .actions-tabs {
  position: absolute;
  left: 230px;
  top: 15px; }

.modal-body > .actions a {
  padding: 10px 10px 4px 10px !important;
  font-size: 11px !important; }

#connection:before {
  border-radius: 5px;
  content: " ";
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  left: -1px;
  top: 1px; }

#connection > span {
  padding: 0px 5px; }

#connection div.toolTip {
  border-radius: 10px;
  position: fixed;
  bottom: 40px;
  background: #CAED9E;
  border: 4px solid #90D93F;
  width: 250px;
  padding: 10px;
  display: none; }
  #connection div.toolTip strong {
    display: block;
    font-size: 12px; }
  #connection div.toolTip p {
    display: block;
    margin: 10px 0 0 0;
    font-size: 11px; }
  #connection div.toolTip:after, #connection div.toolTip:before {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  #connection div.toolTip:after {
    border-color: rgba(202, 237, 158, 0);
    border-top-color: #CAED9E;
    border-width: 4px;
    margin-left: -4px; }
  #connection div.toolTip:before {
    border-color: rgba(144, 217, 63, 0);
    border-top-color: #90D93F;
    border-width: 10px;
    margin-left: -10px; }

#connection:hover > div.toolTip, a.pay:hover > div.toolTip {
  display: block; }

.online:before {
  background-color: #54ba54; }

.offline:before {
  background-color: red; }

a.pay div.toolTip {
  background: #fceca3;
  border: 1px solid #9e9e9e;
  position: absolute;
  top: 5px;
  left: calc(100% + 15px);
  padding: 10px;
  display: none;
  text-align: center;
  min-height: 15px; }
  a.pay div.toolTip:after, a.pay div.toolTip:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  a.pay div.toolTip:after {
    border-color: rgba(252, 236, 163, 0);
    border-right-color: #fceca3;
    border-width: 5px;
    margin-top: -5px; }
  a.pay div.toolTip:before {
    border-color: transparent;
    border-right-color: #9e9e9e;
    border-width: 6px;
    margin-top: -6px; }
  a.pay div.toolTip span {
    white-space: nowrap;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #6b8a30;
    font-family: 'Roboto Slab', serif;
    text-shadow: 0px 1px 0px White; }

div.sync {
  width: 190px;
  margin-right: 10px;
  position: relative;
  float: left; }
  div.sync a {
    padding-bottom: 25px;
    text-decoration: none; }
  div.sync i {
    width: 58px;
    height: 40px;
    color: #3B3B3B;
    font-size: 40px; }
  div.sync a.link {
    display: block;
    font-family: Arial;
    font-size: 11px;
    position: absolute;
    width: 100%;
    left: 1px;
    bottom: 1px;
    padding: 7px 0;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-decoration: underline; }

div#btnSyncProduct a.link {
  background: #89b03e; }

div#btnSendTransaction a.link {
  background: #517FA4; }

/*fullscreeen*/
div.fullscreen-note, div.inventory-tracking-panel {
  position: fixed;
  top: 100px;
  right: 0;
  min-width: 130px;
  max-width: 180px; }

div.inventory-tracking-panel {
  top: auto;
  bottom: 100px; }

div.fullscreen-note p, div.inventory-tracking-panel p {
  margin: 0;
  padding: 8px 2px;
  text-align: center;
  background-color: #ffffe1;
  border: 1px solid #CACACA;
  border-right-width: 0;
  overflow: hidden;
  border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px; }

div.fullscreen-note p i, div.inventory-tracking-panel p i {
  font-weight: bold;
  display: block; }

div.fullscreen-note p span, div.inventory-tracking-panel p span {
  margin-top: 5px;
  font-family: 'Roboto Slab', serif;
  display: block;
  text-transform: uppercase; }

/*Dialog picker*/
ul.dialogPicker {
  list-style: none;
  margin: 0px;
  padding: 10px 0 0 0;
  display: inline-block;
  width: 591px; }
  ul.dialogPicker li {
    width: 180px;
    min-height: 95px;
    margin-right: 17px;
    margin-bottom: 17px;
    float: left;
    position: relative; }
    ul.dialogPicker li a {
      display: block;
      width: 100%;
      height: 100%;
      outline: 0; }
      ul.dialogPicker li a:hover {
        color: black; }
      ul.dialogPicker li a strong, ul.dialogPicker li a div {
        display: block; }
      ul.dialogPicker li a i {
        margin-right: 5px;
        font-size: 16px;
        float: left; }
      ul.dialogPicker li a strong {
        height: 30px;
        border-radius: 4px;
        padding: 5px 10px;
        color: #ffffff;
        background: #B1AAAA; }
        ul.dialogPicker li a strong span {
          display: block;
          max-width: 180px;
          max-height: 18px;
          overflow: hidden;
          font-family: 'Roboto Slab', serif;
          font-size: 13px;
          float: left; }
      ul.dialogPicker li a div {
        height: 80px;
        padding: 15px 10px;
        position: relative; }
        ul.dialogPicker li a div span {
          display: inline-block;
          font-weight: normal;
          font-size: 14px;
          font-family: Arial;
          width: 100%;
          margin-bottom: 5px; }
          ul.dialogPicker li a div span:first-child {
            margin-top: -5px; }
          ul.dialogPicker li a div span:last-child {
            margin-bottom: 0px; }
          ul.dialogPicker li a div span.alias {
            text-align: center;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: auto;
            background-color: #88AE3D;
            border-radius: 3px;
            padding: 2px 5px;
            color: #ffffff; }
          ul.dialogPicker li a div span.idle {
            display: block;
            font-size: 20px;
            text-align: center; }
    ul.dialogPicker li > span {
      position: absolute;
      width: 27px;
      height: 28px;
      cursor: pointer;
      top: 5px; }
      ul.dialogPicker li > span i {
        color: #3B3B3B; }
      ul.dialogPicker li > span:last-of-type {
        right: -5px; }
      ul.dialogPicker li > span:nth-last-of-type(2) {
        right: 15px; }
    ul.dialogPicker li input[type='checkbox'] {
      bottom: 0px;
      right: 0px;
      position: absolute; }
  ul.dialogPicker > li > a {
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #A49B9B;
    background: white;
    color: black; }
    ul.dialogPicker > li > a:hover, ul.dialogPicker > li > a.active {
      background: #FFFED9;
      border: 1px solid #88AE3D; }
      ul.dialogPicker > li > a:hover > strong, ul.dialogPicker > li > a.active > strong {
        background: #88AE3D; }
  ul.dialogPicker a.vacant {
    border: 1px solid #88AE3D; }
    ul.dialogPicker a.vacant > strong {
      background: #88AE3D; }
    ul.dialogPicker a.vacant:hover {
      background: #FFFED9; }
  ul.dialogPicker a.occupied, ul.dialogPicker a.occupied:hover {
    border: 1px solid #e74c3c; }
    ul.dialogPicker a.occupied > strong, ul.dialogPicker a.occupied:hover > strong {
      background: #e74c3c !important; }
  ul.dialogPicker a.occupied span.alias {
    background: #e74c3c; }
  ul.dialogPicker a.occupied:hover {
    background: white; }

#dialogRetrieve ul.dialogPicker li a strong i {
  background-position: right -340px; }

ul.dialogPickerBig {
  width: 790px !important;
  padding: 10px 0 0 0; }
  ul.dialogPickerBig li {
    width: 140px !important;
    margin-bottom: 17px;
    margin-top: 0px !important;
    min-height: 80px !important; }
    ul.dialogPickerBig li:nth-child(5) {
      margin-right: 0px; }
    ul.dialogPickerBig li a div {
      height: 50px !important; }

/*Customize for tabling*/
a.preparing {
  border: 1px solid #FFD119; }
  a.preparing > strong {
    background: #ffcc00 !important; }
  a.preparing:hover {
    border: 1px solid #FFD119;
    background: white; }
    a.preparing:hover > strong {
      background: #ffcc00 !important; }
  a.preparing span.alias {
    background: #2996CC; }
  a.preparing div > span {
    font-size: 12px !important; }

/*full scren*/
.fullscreen {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  background-color: #BBBBBB;
  cursor: pointer; }
  .fullscreen:hover {
    background-color: #666666; }
  .fullscreen i {
    display: inline-block;
    font-size: 38px;
    color: #ffffff; }

.full_screen {
  background-position: 9px -256px; }
  .full_screen:hover {
    background-position: -141px -256px; }
  .full_screen nav, .full_screen .sidebar {
    display: none !important; }
  .full_screen .main-panel {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px; }
  .full_screen #divSideMenu {
    display: none; }
  .full_screen div.content > .container-fluid {
    padding: 0px; }
  .full_screen section.person .fa-plus-circle {
    color: #ffffff; }
  .full_screen section.cashier main {
    width: 1005px;
    margin: 0 auto; }
  .full_screen section.cashier hgroup {
    border-right: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0px;
    padding-top: 5px;
    background: #2996CC !important; }
    .full_screen section.cashier hgroup > div {
      width: 1005px;
      margin: 0 auto; }
    .full_screen section.cashier hgroup section i {
      color: #ffffff; }
  .full_screen section.cart div.head {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none; }
  .full_screen section.cart div.table {
    height: 327px; }
  .full_screen section.cart div.content {
    height: 516px; }

.park-action {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px; }
  .park-action.fullscreen-button-right {
    right: 0px; }
  .park-action li {
    width: 64px;
    line-height: 64px;
    cursor: pointer;
    outline: none;
    padding: 1px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 11px;
    list-style: none; }
  .park-action .retrieve {
    border: 1px solid #B7B7B7;
    color: #545454;
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: inset 0 2px 0 -1px white;
    -moz-box-shadow: inset 0 2px 0 -1px white;
    box-shadow: inset 0 2px 0 -1px white; }
  .park-action .park, .park-action .bill {
    font-size: 12px;
    color: #fff; }
  .park-action .park {
    background-color: #89b03e;
    border: 1px solid #6b8a30; }
  .park-action .bill {
    background: #f6a828 50% 50% repeat-x;
    border: 1px solid #e78f08; }
  .park-action .split {
    background: #2996CC;
    border: 1px solid #268EC1; }

.park-action-left {
  left: 0px;
  right: auto !important;
  padding: 0px; }

/*
    ------ POS STATUS
*/
.pos-status {
  position: fixed;
  left: 10px;
  bottom: 10px;
  list-style: none;
  padding: 0px; }
  .pos-status li {
    float: left;
    padding: 4px;
    cursor: pointer; }
    .pos-status li:first-child {
      padding: 4px 10px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #ececee));
      background-image: -webkit-linear-gradient(#fff, #ececee);
      background-image: -moz-linear-gradient(#fff, #ececee);
      background-image: -o-linear-gradient(#fff, #ececee);
      background-image: linear-gradient(#fff, #ececee);
      text-shadow: #fff 0 1px 0;
      width: auto;
      border: 1px solid #ccc;
      text-decoration: none;
      background-color: #f1f1f3;
      color: #999; }

.print_container {
  display: none; }

@media print {
  .wrapper {
    display: none; }
  div.blockUI {
    display: none; }
  div.print_container {
    display: block;
    text-align: left; } }

div#dialogDiscount .txtPrice {
  width: 100px; }

div#dialogDiscount .txtPcg {
  width: 30px; }

div#dialogDiscount div.tools {
  border-top: 1px #ddd solid;
  border-bottom: none;
  padding-top: 10px; }

/*customer-panel*/
div.customer-panel {
  position: fixed;
  top: 155px;
  right: -2px; }

div.customer-panel > div {
  width: 160px;
  height: 50px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 3px 0 0 3px;
  padding: 5px;
  margin-bottom: 10px;
  position: relative; }

div.customer-panel a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-block; }

div.customer-panel i.fa {
  height: 36px;
  width: 36px;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  font-size: 20px;
  padding-top: 10px; }

div.customer-panel p {
  float: left;
  width: 102px;
  margin: 0px; }

div.customer-panel p strong {
  display: block;
  margin-top: 1px;
  color: #464646;
  font-family: 'Roboto Slab', serif; }

div.customer-panel p span {
  display: block;
  color: #868686;
  font-size: 11px;
  margin-top: 4px; }

div#divCustomerPrivilege > i {
  position: absolute;
  top: 48px;
  right: 35px;
  border-radius: 0 0 3px 3px;
  font-size: 9px;
  border: 1px solid #ddd;
  padding: 4px 8px;
  color: #868686;
  padding: 3px 14px;
  text-align: center;
  background-color: #f9f9f9; }

.dialog-pay .input-label input {
  width: 100%; }

.dialog-pay .second-payment {
  width: 100%;
  display: block;
  height: 60px; }

.dialog-pay .remaining {
  float: left;
  margin-top: 10px;
  margin-right: 14px; }

.dialog-pay .change {
  height: 40px;
  margin-top: 10px;
  float: right; }

.dialog-pay .change > strong, .dialog-pay .remaining > strong {
  display: block;
  float: left;
  padding-top: 10px;
  padding-right: 10px; }

.dialog-pay .change > .text-success, .dialog-pay .change > .text-danger {
  background-color: #f4f4f4;
  border: 1px solid #ddd !important;
  width: 150px;
  padding: 5px 10px 5px 0;
  text-align: right;
  font-size: 20px !important;
  font-weight: bold;
  float: right; }

.dialog-pay .change > .text-success {
  color: green; }

.keyboard-serial {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  cursor: pointer; }
  .keyboard-serial i {
    font-size: 24px; }

.arrow_box {
  position: relative;
  background: #fff;
  border: 2px solid #C8D3DF; }

.arrow_box:after, .arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #fff;
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

.arrow_box:before {
  border-color: rgba(200, 211, 223, 0);
  border-right-color: #C8D3DF;
  border-width: 9px;
  top: 50%;
  margin-top: -9px; }

.arrow_box > strong {
  display: block;
  font-weight: normal;
  font-size: 10px;
  background-color: #f6a828;
  color: #ffffff;
  padding: 1px 2px 1px 3px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0px 0px 0px 3px;
  border-radius: 0px 0px 0px 3px; }

.arrow_box_left:after, .arrow_box_left:before {
  left: 100% !important; }

.arrow_box_left:after {
  border-left-color: #fff !important;
  border-right-color: transparent !important; }

.arrow_box_left:before {
  border-left-color: #C8D3DF !important;
  border-right-color: transparent !important; }

.arrow_box_bottom:after, .arrow_box_bottom:before {
  top: initial;
  left: 40%;
  bottom: 100% !important; }

.arrow_box_bottom:after {
  border-bottom-color: #fff !important;
  border-right-color: transparent !important;
  margin-left: -6px; }

.arrow_box_bottom:before {
  border-bottom-color: #C8D3DF !important;
  border-right-color: transparent !important;
  margin-left: -9px; }

div.price_calculator input {
  border: 0px !important;
  border-bottom: 1px solid #C8D3DF !important;
  background-color: transparent !important;
  font-size: 11px;
  padding: 8px 5px 5px 5px !important;
  width: 50px !important; }

div.price_calculator {
  left: -200px;
  top: 46px;
  width: 180px;
  height: 77px;
  padding: 12px 0px 3px 8px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute !important; }

/*printing*/
.cartItems table.plain {
  width: 100%; }

div.panel div.bottom {
  position: static; }

#CommissionAction {
  float: right;
  padding: 10px; }

